body {
    text-align: center;
    font-family: monospace;
    background-color: #eee;
    color: white;
}

.header {
    box-shadow: 10px 10px 8px 0px #c0bfbf;
    padding: 5px;
    width: 640px;
    height: 120px;
    margin: 40px auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
}
h1 {
    font-size: 4em;
    padding: 10px;
    margin: 20px auto;
    color: rgb(52, 57, 100);
}

#container {
    margin: 20px auto;
    width: 640px;
    height: 1020px;
    display: flex;
}

.calculatorButtons{
   
    background-color: black;
    border-radius: 50px;
    padding: 24px;
    font-size: 20px;
    border: 10px solid orange;
}

.arithmeticPane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 270px;
    padding: 5px;
    border-radius: 20px;
}

.operatorButtons {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin: 10px 0;
}

.numButton {
    box-sizing: border-box;
    padding: 30px;
    background-color: rgb(44, 44, 44);
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin: 10px auto;
    border-radius: 60px;
    font-weight: 20px;
    font-size: 50px;
    cursor: pointer;
    min-width: 120px;
}

.resetButtons {
    padding: 20px;
    width: inherit;
    height: 50px;
    display: flex;
    flex: 1;
    margin: 16px auto;
    align-items: center;    
    font-size: 50px;
    justify-content: space-between;
    border-radius: 20px;
    gap: 16px;
    color: black;
}

.backspaceButton {
    flex: 2;
    border: solid;
}

.backspaceButton, .clearButton {
    background-color: rgb(218, 218, 218);
    padding: 16px;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
}

.numButton:hover {
    background-color: grey;
    color: black;
}

.operation {
    background-color: orange;
}

.numButton.operation:hover {
    color: orange;
    background-color: white;
}